@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background: rgb(235, 240, 168);
}

.container {
  max-width: 85%;
  margin: auto;
}

.main {
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: #c71d8e;
}

li {
  list-style-type: none;
}

.row {
  width: 50%;
}

p {
  line-height: 30px;
  font-size: 18px;
}

button {
  padding: 17px 30px;
  background: #69b390;
  color: white;
  font-weight: 600;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 0 24px 36px -11px rgba(0, 0, 0, 0.09);
  margin: 60px 5px 0 0;
  transition: 0.5s;
}

button:hover {
  box-shadow: none;
}

.primary-btn {
  background-color: #69b390;
  color: white;
}
